<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommConfigMapper">
    <!-- 操作表TC_TEAM -->
    <select id="getTeamNameMap" resultMap="getTeamNameMapResult" parameterType="java.lang.Integer">
        select
        team_id, team_name
        from TC_TEAM
        where 1=1
        <if test="_parameter != null">
            and team_id = #{_parameter,jdbcType=INTEGER}
        </if>
    </select>
    <resultMap id="getTeamNameMapResult" type="HashMap">
        <result property="key" column="team_id"/>
        <result property="value" column="team_name"/>
    </resultMap>


    <!-- 操作表TC_DATABASE -->
    <select id="getDatabaseMap" resultType="com.haier.wetestgo.bean.DatabaseCfg" parameterType="java.lang.Integer">
        select
        database_id, environment, db_driver, db_url, comment
        from TC_DATABASE
        where 1=1
        <if test="_parameter != null">
            and database_id = #{_parameter,jdbcType=INTEGER}
        </if>
    </select>


    <!-- 操作表TC_ENVIRONMENT -->
    <select id="getEnvironmentMap" resultMap="getEnvironmentMapResult" parameterType="java.lang.String">
        select
        environment, comment
        from TC_ENVIRONMENT
        where 1=1
        <if test="_parameter != null">
            and environment = #{_parameter}
        </if>
    </select>
    <resultMap id="getEnvironmentMapResult" type="HashMap">
        <result property="key" column="environment"/>
        <result property="value" column="comment"/>
    </resultMap>


    <!-- 操作表TC_SERVICE -->
    <select id="getServiceMap" resultType="com.haier.wetestgo.bean.ServiceCfg" parameterType="java.lang.Integer">
        select
        service_id, service_name, comment
        from TC_SERVICE
        where 1=1
        <if test="_parameter != null">
            and service_id = #{_parameter,jdbcType=INTEGER}
        </if>
    </select>


    <!-- 操作表TC_SERVICE -->
    <select id="getServiceNameMap" resultMap="getServiceNameMapResult" parameterType="java.lang.String">
        select
        service_name, comment
        from TC_SERVICE
        where 1=1
        <if test="_parameter != null">
            and service_name = #{_parameter,jdbcType=VARCHAR}
        </if>
    </select>
    <resultMap id="getServiceNameMapResult" type="HashMap">
        <result property="key" column="service_name"/>
        <result property="value" column="comment"/>
    </resultMap>


    <!-- 操作表TC_FUNCTION -->
    <select id="getFunctionMap" resultType="com.haier.wetestgo.bean.FunctionCfg" parameterType="java.lang.Integer">
        select
        function_id, team_id, service_id, comment
        from TC_FUNCTION
        where 1=1
        <if test="_parameter != null">
            and function_id = #{_parameter,jdbcType=INTEGER}
        </if>
    </select>
</mapper>